page-home {
    .countdown-timer {
        > span { 
            display: block; 
            font-size: 20px; font-weight: 200;
            text-align: center;
            color: #898989;
            strong {
                font: 400 1.5em 'Copse', Helvetica, sans-serif;
            }
            &:first-child {
                font-size: 28px;
                color: #fff;
            }
            &:last-child {
                font-size: 14px;
            }
        }
    }
}
