@font-face {
  font-family: 'Copse';
  src: url('../assets/fonts/copse.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open';
  src: url('../assets/fonts/open-sans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Open', Helvetica, sans-serif;
}
ion-header {
    background: #1a1f26 !important;
}
ion-content {
    background: #232933 !important;
}
